.item {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  flex-wrap: wrap;
  /* display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 90%;
      margin: auto;*/
}

.loading {
  display: flex;
  justify-content: center;
}

.loading_title {
  display: block;
  font-family: cursive;
  text-align: center;
}
.error {
  display: flex;
  justify-content: center;
}
.error-title {
  color: red;
}
.title_pokemon {
  display: flex;
  justify-content: center;
}
.card {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  background-size: cover;
}

.card_img {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 20px;
  //margin: auto;
  text-align: center;
}
.card_name {
  margin: 15px 0 7px;
}

.number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

@media screen and (max-width: 450px) {
  .title_pokemon img {
    width: fit-content;
    width: -webkit-fill-available;
    width: moz-available;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.pagination button {
  padding: 10px 20px;
  width: 150px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: black;
  border: 1px solid black;
}
