.container_search {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
  margin-top: 3%;
  position: relative;
  border: 2px solid #5f8fa4;
  height: 25px;
  width: 500px;
  border-radius: 50px;
  padding-left: 31px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  color: #555;
}

.searchicon {
  position: absolute;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 3px solid #5f8fa4;
  left: 10px;
  top: 8px;
  border-radius: 100%;
}
.searchicon::after {
  content: "";
  position: absolute;
  background: #5f8fa4;
  height: 6px;
  width: 3px;
  bottom: -5px;
  right: -3px;
  transform: rotate(-45deg);
}
.search {
  width: inherit;
  height: 20px;
  border: transparent;
  margin-top: 2px;
  margin-left: 3px;
  outline: none;
}
@media screen and (max-width: 500px) {
  .container_search {
    width: fit-content;
    width: -webkit-fill-available;
    width: moz-available;
  }
}
